* {
    margin: 0;
    padding: 0;
  }
  
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
  }

  a {
    text-decoration: none !important;
    font-style: black ;
  }

/*HERO BANNER STARTS*/
.hero-image {
  display:flex;
  flex-wrap:wrap;
  background-image: url(../images/zentangles.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

/*ADDING WORK SECTION*/

.led-wall{
  height: 150px;
  background-image: url(../images/RainbowGeo.jpg);
  background-position:center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.occasional-movie{
  height:150px;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),url(../images/Screen\ Shot\ 2022-04-13\ at\ 12.02.14\ AM.png);
  background-position:center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.run-buddy{
  height:150px;
  background-image: url(../images/hero-bg.jpeg);
  background-position:center;
  background-repeat: no-repeat; 
  background-size: cover; 
 
}

.habitual-tracker{
    height:150px;
    background-image:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../images/habitual.png);
    background-position:center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.note-taker{
  height:150px;
  background-image:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../images/notetaker.png);
  background-position:center;
  background-repeat: no-repeat; 
  background-size: cover; 
 
}

.work-day{
  height:150px;
  background-image:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../images/workday.png);
  background-position:center;
  background-repeat: no-repeat; 
  background-size: cover; 

 
}
