* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
  }

/* HEADER / NAV BAR STYLES START */
header{
padding: 10px 20px;
  background-color:orange;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 55px;
    color: black; 
  }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  header nav {
    margin: 7px 0;
  }

  header a {
    text-decoration: none;
    color: white;
  }
/*HEADER/NAV ENDS*/


/*HERO BANNER STARTS*/
.hero-image {
  display:flex;
  flex-wrap:wrap;
  background-image: url(../images/zentangles.jpeg);
  height: 25%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.hero-text{
padding: 5px;
background-color:whitesmoke;
border: 3px solid orange;
position:absolute;
bottom:0px;
right:0px;
}

/*HERO BANNER ENDS*/
.picture {
  display: inline-flex;
  flex-wrap:wrap;
  margin:20px;
  text-align:center;
  width:25%;
}
.about-me-part{
  display: inline-flex;
  width:100%;
  margin:15px 15px;
}
.about-me-part h2 {
  font-size:50px;
  text-align: left;
  width:20%;
  }
  
.story {
  margin:15px 15px;
  width:100%;
  font-size:20px;
  justify-content:left;
  }

/*ADDING WORK SECTION*/
.projects{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
}
.work-section{
  width:80%;
  height:auto;
}
.projects h2{
  font-size:50px;
  width:20%;
  margin:15px;
}
.led-wall{
  border: 1px solid black;
  width: 100%;
  height: 200px;
  background-image: url(../images/RainbowGeo.jpg);
  background-position:center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin:15px;
}

.small-work-section{
  display:flex;
  width:100%;
}
.small-work-section a{
  width:50%;
  height:150px;
}
.another-small-work{
  display:flex;
  width:100%;
  justify-content: space-around;
}
.another-small-work a{
  width:50%;
  height:150px;
}
.surf-report{
  background-color:goldenrod;
  height:150px;
  opacity:.5;
  margin:15px 15px;
}
.pastel-puzzles{
  background-color:orange;
  height:150px;
  opacity:.5;
  margin:15px 15px;
}
.calculator{
  background-color:darksalmon;
  height:150px;
  opacity:.5;
  margin:15px 15px;
}
.run-buddy{
  height:150px;
  background-image: url(../images/hero-bg.jpeg);
  background-position:center;
  background-repeat: no-repeat; 
  background-size: cover; 
  margin:15px 15px;
}
  /*FOOTER STARTS*/
  
.footer{
    display:flex;
    flex-wrap: wrap;
  }
  
.footer h2 {
    font-size:40px;
    text-align: left;
    width:20%;
  }
.links {
  width:65%;
  padding-top:50px;
}
footer nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

 footer nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
  }

  